*
{
    margin: 0px;
}
nav1
{
    margin: 20px;
    float: inline-end;
    /* margin-right: 240px; */
    padding: 20px;
    
    
}
 ul li {
    /* margin-top: 40px; */
    display: inline;
    padding-left: 30px;
    
    
 }
 ul li a{
    text-decoration: none;
    color:black;
 }

 
nav{
    float: left;
}
nav .para
{
    margin: 20px;
    
    color:black;
}
.main{
    background-color:white;
    position: fixed;
    width: 100%;
    z-index: 500;
    
}






.first{
padding-left:140px;
padding-top: 40px;
}
.main2{
height:360px;
width:500px;
background-color: white;
margin-top:40px;


}
.summar  h1, p{
 color: black;
 padding-left:60px;
}
.summar p:hover{
    color:aqua;
}

.summar h1:hover{
    color:aqua;
}

.s1 a {
   color:black;
   text-decoration: none;
   position: relative;
   left:150px; 
   bottom:40px;

}
.s1 a:hover{
    color:aqua;
}
.one{
    padding-left:140px;
    padding-top: 20px;
}
.second{
height:360px;
width:500px;
background-color: white;
margin-top:20px;
}


.heart{
  background-color: transparent;
  border: none;
  font-size: 20px;
  color:#ccc;
  cursor: pointer;
  transition: color 0.3s ease;
}
/* 1st heart */
.like{
    color: red;

}

 .like-container{
  display: flex;
  align-items: center;

 }
 /* 2nd heart */

 .heart{
    background-color: transparent;
    border: none;
    font-size: 20px;
    color:#ccc;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .heart.liked{
    color: red;
  }

.contac{
    margin-left: 150px;
}
.lst{
    margin-left: 90px;
}
footer{
    margin-left:150px;
    margin-top: 60px;
}
form input{
    background-color: rgb(61, 186, 186);
    border:2px solid black;
    width: 450px;
    height:30px;
    margin-top: 20px;
}
form{
    margin-top: 60px;
}
form label{
    font-size:20px ;
}
.btn3{
    width:100px; 
    background-color: black;
    color: white;
    margin-left: 350px;
    margin-top: 20px;
}
.btn3:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
